
<h1 class="addHeading">Add your Vehicle</h1>
<form class="addForm" action="/profile" method="post">

 <h2 class="addDetail">make</h2>
 <input type="text" name="make" value="">
 <h2 class="addDetail">year</h2>
 <input type="text" name="year" value="">
 <h2 class="addDetail">registration number</h2>
 <input type="text" name="registration" value="">

 <button class="addButton" type"submit">Add Vehicle</button>

</form>
