
 <h2 class="editHeading">Edit Your Vehicle</h2>

<form class="editForm" action="/profile" method="post">

  <input type="hidden" name="_method" value="put">
  <h2>Make</h2>
  <input type="text" name="make" value="<%= @car.make%>" placeholder="make">
  <h2>Year</h2>
  <input type="text" name="year" value="<%= @car.year%>" placeholder="year">
  <h2>Registration</h2>
  <input type="text" name="registration" value="<%= @car.registration%>" placeholder="registration">

  <button class="editVehicleButton" type="submit"> Add Your Vehicle </button>

</form>
