
<section class="izusuAd">

</section>
<section class="homePage">

  <h1 class="mainHeading">Moe Diesel <br /> Proudly servicing gippsland for over 30 years </h1>
  <h1 class="mainHeading2"> Your regional <span class="isuzu">Isuzu</span> Representative <br /> we cover all your needs from services to major repairs </h1>
</section>
