

<h1 class="newAccountHeading">Create Your New Account</h1>
<form class="signUpForm" action="/sign_up" method="post">
  <h2>Enter Name</h2>
  <input type="text" name="name" value="" placeholder="name">
  <h2>Enter Email</h2>
  <input type="text" name="email" value="" placeholder="email">
  <h2>Enter Phone Number</h2>
  <input type="text" name="phone_no" value="" placeholder="phone number">
  <h2>Enter your Password</h2>
  <input type="password" name="password" value="" placeholder="password">

  <button class="createButton" type="submit">Create Account</button>
</form>
