

<form action="/profile/<%= @client.id %>" method="post">

 <h2>make</h2>
 <input type="text" name="make" value="">
 <h2>year</h2>
 <input type="text" name="year" value="">
 <h2>registration number</h2>
 <input type="text" name="registration" value="">

 <button type"submit">Add Vehicle</button>

</form>
