

<form class="" action="/profile/<%= car.id%>" method="post">

  <input type="hidden" name="_method" value="put">

  <input type="text" name="make" placeholder="make">
  <input type="text" name="year" placeholder="year">
  <input type="text" name="registration" placeholder="registration">
  <button type="submit" name="button">Add Your Vehicle</button>

</form>
