<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
  <link rel='stylesheet' href='/stylesheets/main.css'>
</head>
<body>
  <nav>

    <h1></h1>
    <img src="images/logo.png" alt="">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/login">Log in</a></li>
      <li><a href="/sign_up">sign up</a></li>
      <li><a href="/about">About us</a></li>
      <li><a href="/contact">Contact</a></li>
    </ul>
  </nav>
  <% if logged_in? %>
    <a href="/profile/<%= current_user %>">back to profile</a>
  <% end %>

  <% if logged_in? %>
  current user: <%= current_user.name %>
  <form class="" action="/session" method="post">
    <input type="hidden" name="_method" value="delete">
    <button>Logout</button>
  </form>
<% end %>

  <%= yield %>

</body>

</html>
