<h1>login</h1>

<%= @message %>
<form class="" action="/session" method="post">
  <h2>please enter your email</h2>
  <input type="text" name="email" placeholder="email">
  <h2>please enter your password</h2>
  <input type="password" name="password" placeholder="password">

  <button type="submit">Log in</button>
</form>


<a href="/sign_up">sign up</a>
