

<h1>Create Your New Account</h1>
<form class="" action="/sign_up" method="post">

  <input type="text" name="name" value="" placeholder="name">
  <input type="text" name="email" value="" placeholder="email">
  <input type="text" name="phone_no" value="" placeholder="phone number">
  <input type="password" name="password" value="" placeholder="password">

  <button type="submit">Create Account</button>
</form>
